In [1]:
"""
	2019-11-07T06:41:00	https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html
"""
import pandas as pd

# create 2D array of table given above 
data = [['Reuben', 46500, 43730], 
		['Simeon', 59300, 22200], 
		['Gad', 45650, 40500],
                ['Judah', 74600, 76500],
                ['Issachar', 54400, 64300],
                ['Zebulun', 57400, 60500],
                ['Ephraim', 40500, 32500],
                ['Manasseh', 32200, 52700],
                ['Benjamin', 35400, 45600],
                ['Dan', 62700, 64400],
                ['Asher', 41500, 53400],
                ['Naphtali', 53400, 45400],
        ] 

# dataframe created with 
# the above data array 
df = pd.DataFrame(data, columns = ['Tribe', 'FirstPopulation', 
									'SecondPopulation'] ) 
print("All, head, tail")
print(df)
print(df.head(7))
print(df.tail(5))

print("Display the index, columns")
print(df.index)
print(df.columns)

print("Summary")
print(df.describe())

print("Transposing your data")
print(df.T)

print("Sorting by an axis")
print(df.sort_index(axis=1, ascending=False))

print("Sorting by value")
print(df.sort_values(by='FirstPopulation'))

print("Single column")
print(df['FirstPopulation'])

print("Row")
print(df[5:7])

print("Multi-axis by label")
print(df.loc[3:9, ['FirstPopulation', 'SecondPopulation']])

print("Column condition")
print(df[df['SecondPopulation'] > 50000])

print("Condition")
#print(df[df > 50000])
print(df[df['SecondPopulation'].isin([22200, 60500])])

print("Mean")
print(df.mean())

#pip install xlrd
#pip install openpyxl
import xlrd
df.to_excel('pandas.pydata.org_-_10 minutes to pandas census.xlsx', sheet_name='Sheet1')

All, head, tail
       Tribe  FirstPopulation  SecondPopulation
0     Reuben            46500             43730
1     Simeon            59300             22200
2        Gad            45650             40500
3      Judah            74600             76500
4   Issachar            54400             64300
5    Zebulun            57400             60500
6    Ephraim            40500             32500
7   Manasseh            32200             52700
8   Benjamin            35400             45600
9        Dan            62700             64400
10     Asher            41500             53400
11  Naphtali            53400             45400
      Tribe  FirstPopulation  SecondPopulation
0    Reuben            46500             43730
1    Simeon            59300             22200
2       Gad            45650             40500
3     Judah            74600             76500
4  Issachar            54400             64300
5   Zebulun            57400             60500
6   Ephraim            40500             32500
       Tribe  FirstPopulation  SecondPopulation
7   Manasseh            32200             52700
8   Benjamin            35400             45600
9        Dan            62700             64400
10     Asher            41500             53400
11  Naphtali            53400             45400
Display the index, columns
RangeIndex(start=0, stop=12, step=1)
Index(['Tribe', 'FirstPopulation', 'SecondPopulation'], dtype='object')
Summary
       FirstPopulation  SecondPopulation
count        12.000000         12.000000
mean      50295.833333      50144.166667
std       12289.101941      15051.799928
min       32200.000000      22200.000000
25%       41250.000000      42922.500000
50%       49950.000000      49150.000000
75%       57875.000000      61450.000000
max       74600.000000      76500.000000
Transposing your data
                       0       1      2      3         4        5        6  \
Tribe             Reuben  Simeon    Gad  Judah  Issachar  Zebulun  Ephraim
FirstPopulation    46500   59300  45650  74600     54400    57400    40500
SecondPopulation   43730   22200  40500  76500     64300    60500    32500

                         7         8      9     10        11
Tribe             Manasseh  Benjamin    Dan  Asher  Naphtali
FirstPopulation      32200     35400  62700  41500     53400
SecondPopulation     52700     45600  64400  53400     45400
Sorting by an axis
       Tribe  SecondPopulation  FirstPopulation
0     Reuben             43730            46500
1     Simeon             22200            59300
2        Gad             40500            45650
3      Judah             76500            74600
4   Issachar             64300            54400
5    Zebulun             60500            57400
6    Ephraim             32500            40500
7   Manasseh             52700            32200
8   Benjamin             45600            35400
9        Dan             64400            62700
10     Asher             53400            41500
11  Naphtali             45400            53400
Sorting by value
       Tribe  FirstPopulation  SecondPopulation
7   Manasseh            32200             52700
8   Benjamin            35400             45600
6    Ephraim            40500             32500
10     Asher            41500             53400
2        Gad            45650             40500
0     Reuben            46500             43730
11  Naphtali            53400             45400
4   Issachar            54400             64300
5    Zebulun            57400             60500
1     Simeon            59300             22200
9        Dan            62700             64400
3      Judah            74600             76500
Single column
0     46500
1     59300
2     45650
3     74600
4     54400
5     57400
6     40500
7     32200
8     35400
9     62700
10    41500
11    53400
Name: FirstPopulation, dtype: int64
Row
     Tribe  FirstPopulation  SecondPopulation
5  Zebulun            57400             60500
6  Ephraim            40500             32500
Multi-axis by label
   FirstPopulation  SecondPopulation
3            74600             76500
4            54400             64300
5            57400             60500
6            40500             32500
7            32200             52700
8            35400             45600
9            62700             64400
Column condition
       Tribe  FirstPopulation  SecondPopulation
3      Judah            74600             76500
4   Issachar            54400             64300
5    Zebulun            57400             60500
7   Manasseh            32200             52700
9        Dan            62700             64400
10     Asher            41500             53400
Condition
     Tribe  FirstPopulation  SecondPopulation
1   Simeon            59300             22200
5  Zebulun            57400             60500
Mean
FirstPopulation     50295.833333
SecondPopulation    50144.166667
dtype: float64